html {
    height: 100%;
    width: 100%;
}
html{
    background-image: url(back.jpeg);
    background-size: 90%;
    background-repeat: no-repeat;
}
nav{
    display:block;
    text-align:center;
    color: beige;
    background-color: crimson;
}
table,h1,h3,p{
    background-color:rgba(225,225,255, .4);
    color: aqua;
}
h5{
    color: blue;
    background-color:rgba(225,225,255, .2);
}