html {
    height: 100%;
    width: 100%;
}
html{
    background-image: url(back.jpeg);
    background-size: 140%;
    background-repeat: no-repeat;
}
nav{
    display:block;
    color: beige;
    background-color: crimson;
}
table,h1,h3,p{
    background-color:rgba(225,225,255, .4);
    color: #2c4b4b;
}
h5{
    color: blue;
    background-color:rgba(225,225,255, .2);
}
.header{
    color: #4895ac;
}
#head{
    color:red;
    background-color:purple;
}

